@tailwind base;
@tailwind components;
@tailwind utilities;
header ul li{
  @apply px-2;
}
.bg-primary{
  background: rgb(85 81 227);
}
.bg-secondary{
  background: #2b2d77;
}

.mobile-nav{
  @apply fixed top-10 left-0 bg-black w-full h-1/4;
}
.mobile-nav  li{
  @apply w-full h-full text-start pt-3;
}
.project-desc{
  @apply absolute left-0 right-0 bottom-0 top-0 bg-neutral-700 opacity-0 duration-500 hover:opacity-100;
}
.nav-head li{
  @apply  max-w-xs transition duration-300 ease-in-out transform hover:scale-110 border-transparent   hover:font-bold    mx-0.5 px-1   ;
}
.btn{
  @apply bg-yellow-300 px-5 py-3 font-bold hover:border-2 border-white rounded ;
}



html{
  scroll-behavior: smooth;
}